<!DOCTYPE html>
<html>
    <head>
        Made by Suhas
        <link rel="stylesheet" href="/css/css.css">
        
    </head>
    <body> 
        <h1>{{forecast}}  <i>{{temperature}}</i></h1>

        <form>
            <input>
            <button>Submitta</button>
        </form>
        <p id="message-success"></p>
        <p id="message-failure"></p>
        {{>footer}}
        <script src="/js/javascript.js"></script>
    </body>
</html>